@model List<Blog>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="mw-breads white-bg">
    <div class="container">
        <div class="row">
            <div class="col-xxl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../index.htm"><i class="fas fa-home"></i> Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Latest News &amp; Trends</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="blog-section-2 light-bg custom-padding">
    <div class="container-xxl container-xl container">
        <div class="row">
            <div class="col-xxl-9 col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                <div class="content-area">
                    <div class="row grid">
                        <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 margin-bottom-30 grid-item">
                            <div class="post-902 post type-post status-publish format-standard has-post-thumbnail hentry category-international category-news" id="post-902">
                                <div class="blog-grids">
                                    <div class="gridz">
                                        <div class="entry-media">
                                            <img width="450" height="260" src="~/templatefiles/wp-content/uploads/2021/04/2022-Hyundai-Santa-Fe-hybrid-seo-450x260.jpg" class="attachment-maxwheels-blog-grids size-maxwheels-blog-grids wp-post-image" alt="">
                                        </div>

                                        <div class="entry-body">
                                            <span class="cat">International</span>					<h3><a href="2021-hyundai-santa-fe-facelift-launched/index.htm">2021 Hyundai Santa Fe Is Launched In Indonesia</a></h3>
                                            <p> The fourth generation Hyundai Santa Fe that was unveiled in June 2020&hellip;</p>
                                            <div class="read-more-date">
                                                <a href="2021-hyundai-santa-fe-facelift-launched/index.htm">Read More..</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 margin-bottom-30 grid-item">
                            <div class="post-899 post type-post status-publish format-standard has-post-thumbnail hentry category-international category-news" id="post-899">
                                <div class="blog-grids">
                                    <div class="gridz">
                                        <div class="entry-media">
                                            <img width="450" height="260" src="~/templatefiles/wp-content/uploads/2021/04/Kia-Cerato-GT-static-dps_HEADER11-450x260.jpg" class="attachment-maxwheels-blog-grids size-maxwheels-blog-grids wp-post-image" alt="" loading="lazy">
                                        </div>

                                        <div class="entry-body">
                                            <span class="cat">International</span>					<h3><a href="kia-cerato-facelift-unveiled-in-south-korea/index.htm">KIA Cerato Facelift Unveiled in South Korea</a></h3>
                                            <p> The much awaited KIA Cerato facelift has been officially revealed in South&hellip;</p>
                                            <div class="read-more-date">
                                                <a asp-controller="Blog" asp-action="BlogDetail">Read More..</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 margin-bottom-30 grid-item">
                            <div class="post-38 post type-post status-publish format-standard has-post-thumbnail hentry category-international category-news" id="post-38">
                                <div class="blog-grids">
                                    <div class="gridz">
                                        <div class="entry-media">
                                            <img width="450" height="260" src="~/templatefiles/wp-content/uploads/2021/02/cross-450x260.jpg" class="attachment-maxwheels-blog-grids size-maxwheels-blog-grids wp-post-image" alt="" loading="lazy">
                                        </div>

                                        <div class="entry-body">
                                            <span class="cat">International</span>					<h3><a href="fresh-batch-of-toyota-corolla-cross-reaches-pakistan/index.htm">Fresh Batch of Toyota Corolla Cross Reaches</a></h3>
                                            <p> A premium fresh batch of Toyota Corolla Cross itself let it be&hellip;</p>
                                            <div class="read-more-date">
                                                <a href="fresh-batch-of-toyota-corolla-cross-reaches-pakistan/index.htm">Read More..</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 margin-bottom-30 grid-item">
                            <div class="post-40 post type-post status-publish format-standard has-post-thumbnail hentry category-drive-tips category-international category-news category-tips-and-tricks" id="post-40">
                                <div class="blog-grids">
                                    <div class="gridz">
                                        <div class="entry-media">
                                            <img width="450" height="260" src="~/templatefiles/wp-content/uploads/2021/02/Senna1-scaled11-450x260.jpg" class="attachment-maxwheels-blog-grids size-maxwheels-blog-grids wp-post-image" alt="" loading="lazy">
                                        </div>

                                        <div class="entry-body">
                                            <span class="cat">Drive Tips</span>					<h3><a href="car-sales-surge-by-44-in-january-2021/index.htm">Car Sales Surge Record High by 44% in January</a></h3>
                                            <p> A Gathered hath that days all don&#8217;t one kind winged third First&hellip;</p>
                                            <div class="read-more-date">
                                                <a href="car-sales-surge-by-44-in-january-2021/index.htm">Read More..</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        @foreach (var item in Model)
                        {
                            <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 margin-bottom-30 grid-item">
                                <div class="post-36 post type-post status-publish format-standard has-post-thumbnail hentry category-news category-tips-and-tricks" id="post-36">
                                    <div class="blog-grids">
                                        <div class="gridz">
                                            <div class="entry-media">
                                                <img width="450" height="260" src="~/Uploads/@item.ImageName" class="attachment-maxwheels-blog-grids size-maxwheels-blog-grids wp-post-image" alt="" loading="lazy">
                                            </div>

                                            <div class="entry-body">
                                                <span class="cat">@item.BlogCategory.Name</span>					
                                                <h3><a href="first-official-image-of-new-toyota-tundra-released/index.htm">@item.Title</a></h3>
                                                <p>@item.Descriptoin</p>
                                                <div class="read-more-date">
                                                    <a href="first-official-image-of-new-toyota-tundra-released/index.htm">Read More..</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }





                        <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 margin-bottom-30 grid-item">
                            <div class="post-34 post type-post status-publish format-standard has-post-thumbnail hentry category-international category-news" id="post-34">
                                <div class="blog-grids">
                                    <div class="gridz">
                                        <div class="entry-media">
                                            <img width="450" height="260" src="~/templatefiles/wp-content/uploads/2021/02/VinFast-1280x7201-1-450x260.jpg" class="attachment-maxwheels-blog-grids size-maxwheels-blog-grids wp-post-image" alt="" loading="lazy">
                                        </div>

                                        <div class="entry-body">
                                            <span class="cat">International</span>					<h3><a href="vietnams-vinfast-reveals-3-new-electric-suvs/index.htm">Vietnam’s VinFast Reveals 3 Brand New Electric SUVs</a></h3>
                                            <p> It is a long established fact that a reader will be distracted&hellip;</p>
                                            <div class="read-more-date">
                                                <a href="vietnams-vinfast-reveals-3-new-electric-suvs/index.htm">Read More..</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 margin-bottom-30 grid-item">
                            <div class="post-32 post type-post status-publish format-standard has-post-thumbnail hentry category-chinese-cars category-drive-tips category-tips-and-tricks" id="post-32">
                                <div class="blog-grids">
                                    <div class="gridz">
                                        <div class="entry-media">
                                            <img width="450" height="260" src="~/templatefiles/wp-content/uploads/2021/02/maxresdefault2-450x260.jpg" class="attachment-maxwheels-blog-grids size-maxwheels-blog-grids wp-post-image" alt="" loading="lazy">
                                        </div>

                                        <div class="entry-body">
                                            <span class="cat">Chinese Cars</span>					<h3><a href="changan-alsvin-test-drive-review/index.htm">Changan Alsvin Prices Unveiled Test Drive &#038; Review</a></h3>
                                            <p> At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis&hellip;</p>
                                            <div class="read-more-date">
                                                <a href="changan-alsvin-test-drive-review/index.htm">Read More..</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 margin-bottom-30 grid-item">
                            <div class="post-29 post type-post status-publish format-standard has-post-thumbnail hentry category-drive-tips category-international category-news category-tips-and-tricks" id="post-29">
                                <div class="blog-grids">
                                    <div class="gridz">
                                        <div class="entry-media">
                                            <img width="450" height="260" src="~/templatefiles/wp-content/uploads/2021/02/trd1.jpgmaxWidth12001-450x260.jpg" class="attachment-maxwheels-blog-grids size-maxwheels-blog-grids wp-post-image" alt="" loading="lazy">
                                        </div>

                                        <div class="entry-body">
                                            <span class="cat">Drive Tips</span>					<h3><a href="all-new-hyundai-tucson-n-line-unveiled-ahead-of-debut/index.htm">Toyota is the Most Searched Car In Brand Globally</a></h3>
                                            <p> There are many variations of passages of Lorem Ipsum available, but the&hellip;</p>
                                            <div class="read-more-date">
                                                <a href="all-new-hyundai-tucson-n-line-unveiled-ahead-of-debut/index.htm">Read More..</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 margin-bottom-30 grid-item">
                            <div class="post-30 post type-post status-publish format-standard has-post-thumbnail hentry category-chinese-cars category-drive-tips category-international category-news category-tips-and-tricks" id="post-30">
                                <div class="blog-grids">
                                    <div class="gridz">
                                        <div class="entry-media">
                                            <img width="450" height="260" src="~/templatefiles/wp-content/uploads/2021/02/ezgif.com-gif-maker31-450x260.jpg" class="attachment-maxwheels-blog-grids size-maxwheels-blog-grids wp-post-image" alt="" loading="lazy">
                                        </div>

                                        <div class="entry-body">
                                            <span class="cat">Chinese Cars</span>					<h3><a href="renault-kiger-launched-in-india-from-inr-5-45-lac/index.htm">Renault Kiger Launched in India from INR 5.45 Lac</a></h3>
                                            <p> Herb of meat light place after morning seed air fifth cattle cattle&hellip;</p>
                                            <div class="read-more-date">
                                                <a href="renault-kiger-launched-in-india-from-inr-5-45-lac/index.htm">Read More..</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 margin-bottom-30 grid-item">
                            <div class="post-26 post type-post status-publish format-standard has-post-thumbnail hentry category-news" id="post-26">
                                <div class="blog-grids">
                                    <div class="gridz">
                                        <div class="entry-media">
                                            <img width="450" height="260" src="~/templatefiles/wp-content/uploads/2021/02/Honda-Civic-Prototype-221-450x260.jpg" class="attachment-maxwheels-blog-grids size-maxwheels-blog-grids wp-post-image" alt="" loading="lazy">
                                        </div>

                                        <div class="entry-body">
                                            <span class="cat">News</span>					<h3><a href="suzuki-swift-completes-11-years-in-pakistan/index.htm">11th Gen Honda Civic Hatchback to Debut On June 24</a></h3>
                                            <p> It is simply dummy text of the printing and typesetting industry. Lorem Ipsum&hellip;</p>
                                            <div class="read-more-date">
                                                <a href="suzuki-swift-completes-11-years-in-pakistan/index.htm">Read More..</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 margin-bottom-30 grid-item">
                            <div class="post-25 post type-post status-publish format-standard has-post-thumbnail hentry category-chinese-cars category-international category-news" id="post-25">
                                <div class="blog-grids">
                                    <div class="gridz">
                                        <div class="entry-media">
                                            <img width="450" height="260" src="~/templatefiles/wp-content/uploads/2021/02/hyundai-sonata-n-line-prototype1-450x260.jpg" class="attachment-maxwheels-blog-grids size-maxwheels-blog-grids wp-post-image" alt="" loading="lazy">
                                        </div>

                                        <div class="entry-body">
                                            <span class="cat">Chinese Cars</span>					<h3><a href="sonata-the-first-local-assembled-hyundai-to-be-parallel-with-global-model/index.htm">Hyundai Sonata The First Local Assembled Hyundai  Model</a></h3>
                                            <p> Cialis ordonnance Il a été demandé aux sujets traités par le citrate&hellip;</p>
                                            <div class="read-more-date">
                                                <a href="sonata-the-first-local-assembled-hyundai-to-be-parallel-with-global-model/index.htm">Read More..</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 margin-bottom-30 grid-item">
                            <div class="post-21 post type-post status-publish format-standard has-post-thumbnail hentry category-international category-news category-tips-and-tricks" id="post-21">
                                <div class="blog-grids">
                                    <div class="gridz">
                                        <div class="entry-media">
                                            <img width="450" height="260" src="~/templatefiles/wp-content/uploads/2021/02/HondaCivicTypeRLimitedEdition-PhoenixYellow04111-450x260.jpg" class="attachment-maxwheels-blog-grids size-maxwheels-blog-grids wp-post-image" alt="" loading="lazy">
                                        </div>

                                        <div class="entry-body">
                                            <span class="cat">International</span>					<h3><a href="honda-civic-and-cr-v-price-in-india/index.htm">The Honda Civic and CR-V Price Are Revealed In India</a></h3>
                                            <p> Labore et dolore magna aliqua It is simply dummy text of the printing&hellip;</p>
                                            <div class="read-more-date">
                                                <a href="honda-civic-and-cr-v-price-in-india/index.htm">Read More..</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                <aside class="blog-sidebar mt-top position-sticky">
                    <div class="widget">
                        <div id="search-2">
                            <form role="search" method="get" class="search-form" action="https://listing.maxwheelswp.com/">
                                <div class="realestate-search-blog">
                                    <div class="input-group stylish-input-group">

                                        <input type="search" class="form-control" placeholder="Search &hellip;" value="" name="s">
                                        <span class="input-group-append"><button class="blog-search-btn" type="submit">  <i class="fa fa-search"></i> </button></span>
                                    </div>
                                </div>
                                <input type="submit" class="search-submit" value="Search">
                            </form>
                        </div>
                    </div>    <div class="widget">
                        <div class="widget-heading">
                            <h2>Most Trending</h2>
                            <div class="heading-dots clearfix">
                                <span class="h-dot line-dot"></span>
                                <span class="h-dot"></span>
                                <span class="h-dot"></span>
                                <span class="h-dot"></span>
                            </div>
                        </div>
                        <div class="recent-ads">
                            @{int i = 0; }

                            @foreach (var item in Model)
                            {
                                if(i < 4)
                                {
                                    <div class="recent-ads-list">
                                        <div class="recent-ads-container">

                                            <div class="recent-ads-list-image">
                                                <a href="2021-hyundai-santa-fe-facelift-launched/index.htm" class="recent-ads-list-image-inner">
                                                    <img width="100" height="66" src="~/Uploads/@item.ImageName" class="attachment-maxwheels-small-thumb size-maxwheels-small-thumb wp-post-image" alt="" loading="lazy"  sizes="(max-width: 100px) 100vw, 100px">
                                                </a>
                                            </div>

                                            <div class="recent-ads-list-content">
                                                <h3 class="recent-ads-list-title">
                                                    <a href="2021-hyundai-santa-fe-facelift-launched/index.htm">@item.Title</a>
                                                </h3>
                                                <span class="recent-ads-list-location">
                                                    <a href="category/international/index.htm">@item.BlogCategory.Name</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    i++;
                                }


                            }

                            <div class="recent-ads-list">
                                <div class="recent-ads-container">

                                    <div class="recent-ads-list-image">
                                        <a href="kia-cerato-facelift-unveiled-in-south-korea/index.htm" class="recent-ads-list-image-inner">
                                            <img width="100" height="66" src="~/templatefiles/wp-content/uploads/2021/04/Kia-Cerato-GT-static-dps_HEADER11-100x66.jpg" class="attachment-maxwheels-small-thumb size-maxwheels-small-thumb wp-post-image" alt="" loading="lazy" srcset="~/templatefiles/wp-content/uploads/2021/04/Kia-Cerato-GT-static-dps_HEADER11-100x66.jpg 100w, ~/templatefiles/wp-content/uploads/2021/04/Kia-Cerato-GT-static-dps_HEADER11-355x230.jpg 355w, ~/templatefiles/wp-content/uploads/2021/04/Kia-Cerato-GT-static-dps_HEADER11-612x400.jpg 612w" sizes="(max-width: 100px) 100vw, 100px">
                                        </a>
                                    </div>

                                    <div class="recent-ads-list-content">
                                        <h3 class="recent-ads-list-title">
                                            <a href="kia-cerato-facelift-unveiled-in-south-korea/index.htm">KIA Cerato Facelift Unveiled in South Korea</a>
                                        </h3>
                                        <span class="recent-ads-list-location">
                                            <a href="category/international/index.htm">International</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="recent-ads-list">
                                <div class="recent-ads-container">

                                    <div class="recent-ads-list-image">
                                        <a href="fresh-batch-of-toyota-corolla-cross-reaches-pakistan/index.htm" class="recent-ads-list-image-inner">
                                            <img width="100" height="66" src="~/templatefiles/wp-content/uploads/2021/02/cross-100x66.jpg" class="attachment-maxwheels-small-thumb size-maxwheels-small-thumb wp-post-image" alt="" loading="lazy" srcset="~/templatefiles/wp-content/uploads/2021/02/cross-100x66.jpg 100w, ~/templatefiles/wp-content/uploads/2021/02/cross-355x230.jpg 355w, ~/templatefiles/wp-content/uploads/2021/02/cross-612x400.jpg 612w" sizes="(max-width: 100px) 100vw, 100px">
                                        </a>
                                    </div>

                                    <div class="recent-ads-list-content">
                                        <h3 class="recent-ads-list-title">
                                            <a href="fresh-batch-of-toyota-corolla-cross-reaches-pakistan/index.htm">Fresh Batch of Toyota Corolla Cross Reaches</a>
                                        </h3>
                                        <span class="recent-ads-list-location">
                                            <a href="category/international/index.htm">International</a>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="widget">
                        <div id="categories-3">
                            <div class="widget-heading">
                                <h2>Categories</h2><div class="heading-dots clearfix">
                                    <span class="h-dot line-dot"></span>
                                    <span class="h-dot"></span>
                                    <span class="h-dot"></span>
                                    <span class="h-dot"></span>
                                </div>
                            </div>
                            <ul>
                                <li class="cat-item cat-item-393">
                                    <a href="category/chinese-cars/index.htm">Chinese Cars</a>
                                </li>
                                <li class="cat-item cat-item-394">
                                    <a href="category/drive-tips/index.htm">Drive Tips</a>
                                </li>
                                <li class="cat-item cat-item-391">
                                    <a href="category/international/index.htm">International</a>
                                </li>
                                <li class="cat-item cat-item-392">
                                    <a href="category/news/index.htm">News</a>
                                </li>
                                <li class="cat-item cat-item-395">
                                    <a href="category/tips-and-tricks/index.htm">Tips and Tricks</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                
                </aside>
            </div>
        </div>
    </div>
</section>
<button class="scroll-top scroll-to-target" data-target="html"><span class="fas fa-angle-up"></span></button>
<div class="modal mybode fade" id="mynewpass">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="modal-from new-my-pass" name="mynewPass" method="POST" id="mynewPass">
                <div class="modal-header">
                    <h3 class="modal-title">Reset Your Password</h3>
                    <button type="button" class="close" data-bs-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="theme-row">
                        <label>New Password<span class="req-mark">*</span></label>
                        <span class="wrap">
                            <input type="password" autocomplete="off" data-sanitize="trim" data-validation="length" data-validation-length="3-12" data-validation-error-msg="Please choose a password with at least 3-12 characters." name="password" class="form-control text">
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="pass_nonce" name="pass_nonce" value="678d0c4760"><input type="hidden" name="_wp_http_referer" value="/blog/">          <input type="hidden" name="requested_user_id" value="">
                    <button type="submit" class="btn btn-theme btn-reset-new" data-spinner-text="Processing...">Change My Password</button>

                </div>
            </form>
        </div>
    </div>
</div><div class="modal fade" id="check_userrole" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="modal-from new-my-pass" name="myuser_type" method="POST" id="myuser_type">
                <div class="modal-header">
                    <h3 class="modal-title">Select User Type</h3>
                </div>
                <div class="modal-body">
                    <div class="theme-row theme-role">
                        <label>User Type <span class="req-mark">*</span></label>
                        <span class="wrap">
                            <select class="form-control theme-selects-role" data-sanitize="trim" name="usertype" data-placeholder="Select User Type" data-validation="required" data-validation-error-msg-required="All fields are required.">
                                <option value="dealer">Dealer</option>
                                <option value="buyer">Buyer/Individual</option>
                            </select>
                        </span>
                    </div>
                    <div class="theme-row">
                        <label>Display Name  <i class="far fa-question-circle" data-bs-toggle="popover" data-bs-placement="top" data-content="Dealer or Buyer display name eg (Dany Motors)"></i></label>
                        <span class="wrap">
                            <input type="text" autocomplete="off" data-sanitize="trim" name="displayname" class="form-control text" data-validation="required" data-validation-error-msg-required="All fields are required.">
                        </span>
                    </div>
                    <span class="theme-txt"><strong>Note:</strong> Please choose your type accordingly because you can't change your type after selection.</span>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="usertype_nonce" name="usertype_nonce" value="7de46e3c06"><input type="hidden" name="_wp_http_referer" value="/blog/">          <button type="submit" class="btn btn-theme btn-role" data-spinner-text="Processing...">Select Type</button>
                </div>
            </form>
        </div>
    </div>
</div>


<input type="hidden" name="is_rtl" value="0">
<input type="hidden" name="is_curr_location" value="0">
<div class="modal fade" id="vinModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img src="../wp-content/themes/maxwheels/libs/images/vin.png" alt="" class="img-fluid mx-auto d-block p-3">
                <h3>Where is my VIN?</h3>
                <p>The VIN is a unique identification number for your vehicle. It is 17 characters in length.</p>
                <ol>
                    <li>
                        <h4>Under the windscreen wipers</h4>
                        <p>Visible through the bottom of the windscreen</p>
                    </li>
                    <li>
                        <h4>Engine Bay</h4>
                        <p>Under the bonnet, usually at the front or back</p>
                    </li>
                    <li>
                        <h4>Stamped on the chassis</h4>
                        <p>Some utes and 4WDs, visible within a wheel arch</p>
                    </li>
                    <li>
                        <h4>Inside front door</h4>
                        <p>Open the door and look on the frame</p>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<button class="scroll-top scroll-to-target" data-target="html"><span class="fas fa-angle-up"></span></button>
<div class="modal mybode fade" id="mynewpass">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="modal-from new-my-pass" name="mynewPass" method="POST" id="mynewPass">
                <div class="modal-header">
                    <h3 class="modal-title">Reset Your Password</h3>
                    <button type="button" class="close" data-bs-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="theme-row">
                        <label>New Password<span class="req-mark">*</span></label>
                        <span class="wrap">
                            <input type="password" autocomplete="off" data-sanitize="trim" data-validation="length" data-validation-length="3-12" data-validation-error-msg="Please choose a password with at least 3-12 characters." name="password" class="form-control text">
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="pass_nonce" name="pass_nonce" value="678d0c4760"><input type="hidden" name="_wp_http_referer" value="/blog/">          <input type="hidden" name="requested_user_id" value="">
                    <button type="submit" class="btn btn-theme btn-reset-new" data-spinner-text="Processing...">Change My Password</button>

                </div>
            </form>
        </div>
    </div>
</div><div class="modal fade" id="check_userrole" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="modal-from new-my-pass" name="myuser_type" method="POST" id="myuser_type">
                <div class="modal-header">
                    <h3 class="modal-title">Select User Type</h3>
                </div>
                <div class="modal-body">
                    <div class="theme-row theme-role">
                        <label>User Type <span class="req-mark">*</span></label>
                        <span class="wrap">
                            <select class="form-control theme-selects-role" data-sanitize="trim" name="usertype" data-placeholder="Select User Type" data-validation="required" data-validation-error-msg-required="All fields are required.">
                                <option value="dealer">Dealer</option>
                                <option value="buyer">Buyer/Individual</option>
                            </select>
                        </span>
                    </div>
                    <div class="theme-row">
                        <label>Display Name  <i class="far fa-question-circle" data-bs-toggle="popover" data-bs-placement="top" data-content="Dealer or Buyer display name eg (Dany Motors)"></i></label>
                        <span class="wrap">
                            <input type="text" autocomplete="off" data-sanitize="trim" name="displayname" class="form-control text" data-validation="required" data-validation-error-msg-required="All fields are required.">
                        </span>
                    </div>
                    <span class="theme-txt"><strong>Note:</strong> Please choose your type accordingly because you can't change your type after selection.</span>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="usertype_nonce" name="usertype_nonce" value="7de46e3c06"><input type="hidden" name="_wp_http_referer" value="/blog/">          <button type="submit" class="btn btn-theme btn-role" data-spinner-text="Processing...">Select Type</button>
                </div>
            </form>
        </div>
    </div>
</div>


<input type="hidden" name="is_rtl" value="0">
<input type="hidden" name="is_curr_location" value="0">
<div class="modal fade" id="vinModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img src="../wp-content/themes/maxwheels/libs/images/vin.png" alt="" class="img-fluid mx-auto d-block p-3">
                <h3>Where is my VIN?</h3>
                <p>The VIN is a unique identification number for your vehicle. It is 17 characters in length.</p>
                <ol>
                    <li>
                        <h4>Under the windscreen wipers</h4>
                        <p>Visible through the bottom of the windscreen</p>
                    </li>
                    <li>
                        <h4>Engine Bay</h4>
                        <p>Under the bonnet, usually at the front or back</p>
                    </li>
                    <li>
                        <h4>Stamped on the chassis</h4>
                        <p>Some utes and 4WDs, visible within a wheel arch</p>
                    </li>
                    <li>
                        <h4>Inside front door</h4>
                        <p>Open the door and look on the frame</p>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
